<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

        <h1><%= topic.title %></h1>
        <% if(currentUser) { %>
        <a class="links" href="/topics/<%=topic.id%>/posts/new">
            <button type="submit" class="crud-buttons">New Post</button>
        </a>
        <% if(currentUser.isAdmin()) { %>
        <a class="links" href="/topics/<%= topic.id %>/edit">
            <button type="submit" class="crud-buttons">Edit</button>
        </a>
        <form style="display:initial" action="/topics/<%= topic.id %>/destroy" autocomplete="off" method="post">
            <button type="submit" class="crud-buttons">Delete</button>
        </form>
        <% } %>
        <% } %>
        <p><%= topic.description %></p>
        <hr>

        <h1>Posts</h1>

        <ul class="list-group">
            <% topic.posts.forEach((post) => { %>
            <li class="list-group-item">
                <h4>
                    <a href="/topics/<%= topic.id %>/posts/<%= post.id %>"> <%= post.title %> </a>
                </h4>
                <div>
                    <small class="posted-by">posted by: <%= post.User.email %></small>
                </div>
            </li>
            <% }) %>
        </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>